* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-color: #070707;
	--sizeindex: calc(1vw + 1vh);
	--transition: .75s cubic-bezier(.2, .6, 0, 1);
}

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-900.woff2);
	font-weight: 900;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: var(--dark-color);
	background-image: url("../images/bg-3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	color: #fff;
	font-family: raleway_m, sans-serif;
	overflow: hidden;
	line-height: 1.8;
}

.slider {
	height: 100%;
	overflow: visible;
	top: 2vh;
}

.slier__wrapper {
	transition: var(--transition) !important;
	will-change: transform;
	backface-visibility: hidden
}

.slider__item {
	max-height: 96vh;
	overflow: hidden;
	cursor: pointer;
	transition: transform var(--transition);
	border-radius: 4px
}

.slider__item--last {
	cursor: unset;
	pointer-events: none;
}

.slider__img {
	display: block;
	width: 300%;
	height: 85%;
	background-size: cover;
	position: absolute;
	right: -100%;
	transition: var(--transition) !important;
	will-change: transform;
	backface-visibility: hidden
}

@media (max-width: 680px) {
	.slider__img {
		height: 80%;
	}
}

.slider__descr {
	margin: 0;
	height: 15%;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px 30px 5px 30px;
	background-color: rgba(23, 95, 71, 0.2);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

@media (max-width: 680px) {
	.slider__descr {
		height: 20%;
	}
}

.slider__descr span {
	display: block;
	margin-bottom: 5px;
	border-bottom: 1px dashed aliceblue;
}

.slider__text {
	z-index: 10;
	position: absolute;
	bottom: 20px;
	color: #fff;
}

.descr {
	position: absolute;
	font-size: calc(var(--sizeindex)* 0.8);
	top: 20vh;
	left: 7vw;
	max-width: 24vw;
	transition: opacity var(--transition), transform var(--transition);
}

.descr p {
	transition: transform var(--transition);
	color: #fff;
	
}

.descr.hidden {
	opacity: 0;
	transform: translateY(5vh);
	transition-duration: 2s;
}

.descr.hidden p {
	transform: translateY(2vh);
}

.title {
	font-size: calc(var(--sizeindex) * 3.6);
	display: inline-block;
	background: linear-gradient(45deg, rgb(180, 255, 136), rgb(1, 13, 1) 100%, rgb(23, 95, 71));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Modal */

.graph-modal {
	background-color: rgba(0, 0, 0, 0.9);
}

.graph-modal__container {
	background-color: rgba(253, 253, 253, 0.8);
}

.graph-modal__content {
	color: black;
}

.graph-modal__close {
	top: 15px;
	right: 15px;
	transition: transform var(--transition);
}

.graph-modal__close:hover {
	transform: rotate(135deg);
}

.graph-modal__close:focus {
	outline: none;
}

.popup {
	padding: 40px;
	width: 100%;
	max-width: 940px;
}

.popup__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
}

.popup__img {
	width: 60%;
	height: auto;
	border-radius: 6px;
	cursor: pointer;
}

@media (max-width: 680px) {
	.popup__img {
		width: 100%;
	}
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.95);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#img1 .lightbox__image {
	background-image: url('../images/1.jpg');
}
.avif #img1 .lightbox__image {
	background-image: url('../images/1.avif');
}
.webp #img1 .lightbox__image {
	background-image: url('../images/1.webp');
}

#img2 .lightbox__image {
	background-image: url('../images/2.jpg');
}
.avif #img2 .lightbox__image {
	background-image: url('../images/2.avif');
}
.webp #img2 .lightbox__image {
	background-image: url('../images/2.webp');
}

#img3 .lightbox__image {
	background-image: url('../images/3.jpg');
}
.avif #img3 .lightbox__image {
	background-image: url('../images/3.avif');
}
.webp #img3 .lightbox__image {
	background-image: url('../images/3.webp');
}

#img4 .lightbox__image {
	background-image: url('../images/4.jpg');
}
.avif #img4 .lightbox__image {
	background-image: url('../images/4.avif');
}
.webp #img4 .lightbox__image {
	background-image: url('../images/4.webp');
}

#img5 .lightbox__image {
	background-image: url('../images/5.jpg');
}
.avif #img5 .lightbox__image {
	background-image: url('../images/5.avif');
}
.webp #img5 .lightbox__image {
	background-image: url('../images/5.webp');
}

#img6 .lightbox__image {
	background-image: url('../images/6.jpg');
}
.avif #img6 .lightbox__image {
	background-image: url('../images/6.avif');
}
.webp #img6 .lightbox__image {
	background-image: url('../images/6.webp');
}

#img7 .lightbox__image {
	background-image: url('../images/7.jpg');
}
.avif #img7 .lightbox__image {
	background-image: url('../images/7.avif');
}
.webp #img7 .lightbox__image {
	background-image: url('../images/7.webp');
}

#img8 .lightbox__image {
	background-image: url('../images/8.jpg');
}
.avif #img8 .lightbox__image {
	background-image: url('../images/8.avif');
}
.webp #img8 .lightbox__image {
	background-image: url('../images/8.webp');
}

#img9 .lightbox__image {
	background-image: url('../images/9.jpg');
}
.avif #img9 .lightbox__image {
	background-image: url('../images/9.avif');
}
.webp #img9 .lightbox__image {
	background-image: url('../images/9.webp');
}

@media (max-width: 576px) {
	.popup__image {
		margin-right: 20px;
	}
}

.popup__name {
	margin: 0;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 160%;
	color: var(--dark-color);
}

.popup__post {
	margin: 0;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: var(--text-color);
}

.popup__bottom-content {
	padding-top: 20px;
	padding-right: 20px;
	max-height: 375px;
}

.popup__descr {
	margin-bottom: 40px;
}

@media (max-width: 576px) {
	.popup__descr {
		margin-bottom: 20px;
	}
}

.popup__text {
	margin: 0;
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: var(--dark-color);
}

@media (max-width: 576px) {
	.popup__text {
		margin-bottom: 5px;
		font-size: 16px;
	}
}

.popup__subtitle {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 24px;
	line-height: 160%;
	color: var(--dark-color);
}

.popup .simplebar-track.simplebar-vertical {
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 40px;
	width: 5px;
	background: rgba(20, 16, 36, 0.08);
}

.popup .simplebar-scrollbar::before {
	left: 0;
	right: 0;
	border-radius: 40px;
	width: 5px;
	background-color: var(--dark-color);
	opacity: 1;
}

@media (max-width: 768px) {
	.popup {
		padding-top: 80px;
	}
}

@media (max-width: 576px) {
	.popup {
		padding: 20px;
		padding-top: 40px;
	}
}


/* Media */

@media (max-width: 680px) {
	.slider {
		left: 60%;
	}

	.slider-bg {
		top: -75vh;
		left: 0;
	}

	.descr {
		max-width: 50%;
	}
	
	.descr p {
		font-size: calc(var(--sizeindex)* 1.1);
	}
}

@media (max-width: 1024px) {
	.graph-modal::before {
		display: none;
	}
}