* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--dark-color: #070707;
	--sizeindex: calc(1vw + 1vh);
	--transition: .95s cubic-bezier(0.2, 0.6, 0, 1);
}

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-900.woff2);
	font-weight: 900;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: var(--dark-color);
	color: #fff;
	font-family: raleway_m, sans-serif;
	overflow: hidden;
	line-height: 1.8;
}


.slider {
	height: 100%;
	overflow: visible;
	top: 5vh;
}

.slier__wrapper {
	transition: var(--transition) !important;
	will-change: transform;

}

.slider__item {
	max-height: 90vh;
	overflow: hidden;
	cursor: pointer;
	transition: transform var(--transition);
}

.slider__img {
	display: block;
	width: 200%;
	height: 85%;
	background-size: cover;
	position: absolute;
	left: -50%;
	transition: var(--transition) !important;
	will-change: transform;
}

.slider__descr {
	margin: 0;
	min-height: 15%;
	width: inherit;
	position: absolute;
	bottom: 0;
	padding: 5px 30px 5px 30px;
	background-color: rgba(255, 99, 71, 0.2);
	text-align: center;
	border-radius: 0 0 6px 6px;
}

.slider__descr span {
	display: block;
	margin-bottom: 5px;
	border-bottom: 1px dashed aliceblue;
}

.slider__img--bg {
	width: 200%;
	height: 100%;
	background-size: cover;
	position: absolute;
	left: -30%;
	transition: var(--transition) !important;
	will-change: transform;
}

.slider-bg {
	z-index: 0;
	transform: rotate(-20deg) !important;
	top: -90vh;
	left: -10vh;
	opacity: 0.5;
	filter: blur(120px) saturate(10);
}

.slider-bg .slider__item {
	max-height: 100vh;
}

.slider__item.opened {
	z-index: 2;
	transform: rotate(20deg) scale(1.5);
}

.slider__text {
	z-index: 10;
	position: absolute;
	bottom: 20px;
	color: #fff;
}

.descr {
	position: absolute;
	font-size: calc(var(--sizeindex)* 0.8);
	top: 20vh;
	left: 7vw;
	max-width: 24vw;
	transition: opacity var(--transition), transform var(--transition);
}

.descr p {
	opacity: 0.9;
	transition: transform var(--transition);
}

.descr.hidden {
	opacity: 0;
	transform: translateY(5vh);
	transition-duration: 2s;
}

.descr.hidden p {
	transform: translateY(2vh);
}

.title {
	font-size: calc(var(--sizeindex) * 3.6);
	display: inline-block;
	background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* Media */

@media (max-width: 680px) {
	.slider {
		left: 40%;
	}

	.slider-bg {
		left: -10%;
	}

	.title {
		font-size: calc(var(--sizeindex) * 4.5);
	}

	.descr {
		max-width: 30%;
		font-size: calc(var(--sizeindex)* 1.1);
	}
}

@media (max-width: 1024px) {
	.graph-modal::before {
		display: none;
	}
}


/* Modal */

.graph-modal {
	background-color: rgba(0, 0, 0, 0.9);
}

.graph-modal__content {
	color: black;
}

.graph-modal__close {
	top: 15px;
	right: 15px;
	transition: transform var(--transition);
}

.graph-modal__close:hover {
	transform: rotate(135deg);
}

.graph-modal__close:focus {
	outline: none;
}

.popup {
	padding: 40px;
	width: 100%;
	max-width: 940px;
}

.popup__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
}

.popup__image {
	margin-right: 40px;
}

@media (max-width: 576px) {
	.popup__image {
		margin-right: 20px;
	}
}

.popup__name {
	margin: 0;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 160%;
	color: var(--dark-color-color);
}

.popup__post {
	margin: 0;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	color: var(--text-color);
}

.popup__bottom-content {
	padding-top: 20px;
	padding-right: 20px;
	max-height: 375px;
}

.popup__descr {
	margin-bottom: 40px;
}

@media (max-width: 576px) {
	.popup__descr {
		margin-bottom: 20px;
	}
}

.popup__text {
	margin: 0;
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 20px;
	line-height: 160%;
	color: var(--dark-color-color);
}

@media (max-width: 576px) {
	.popup__text {
		margin-bottom: 5px;
		font-size: 16px;
	}
}

.popup__subtitle {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 24px;
	line-height: 160%;
	color: var(--dark-color);
}

.popup .simplebar-track.simplebar-vertical {
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 40px;
	width: 5px;
	background: rgba(20, 16, 36, 0.08);
}

.popup .simplebar-scrollbar::before {
	left: 0;
	right: 0;
	border-radius: 40px;
	width: 5px;
	background-color: var(--dark-color);
	opacity: 1;
}

@media (max-width: 768px) {
	.popup {
		padding-top: 80px;
	}
}

@media (max-width: 576px) {
	.popup {
		padding: 20px;
		padding-top: 40px;
	}
}